<div id="page-background"><img src="https://s3.ap-northeast-2.amazonaws.com/sungurails/fear-1131143.jpg" width="100%" height="100%" alt="Smile"></div>
<div id="content">
  <div id="buttons">
    <h1 style="margin-right:10px;font-size:80px;margin-bottom:100px;">'지은'<small>이의 일기</small></h1>
    <a href="/play/story" class="btn red">Start Story</a>
  </div>
</div>